/* stylelint-disable property-no-unknown */
/* stylelint-disable font-family-name-quotes */
/* stylelint-disable font-family-no-missing-generic-family-keyword */

@mixin devices ($breakpoint) {

  @if $breakpoint ==mobile {
    @media (max-width: 875px) {
      @content;
    }
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
img,
small,
strong,
ol,
ul,
li,
form,
article,
aside,
canvas,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  font-size: calc(100vw / 1440 * 10);
  line-height: 1;
  scroll-behavior: initial;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}

body {
  font-family: 'quicksand';
}

button,
a {
  all: unset;
}

strong {
  font-weight: 600;
  margin: 0px 0.4rem;
}

article,
aside,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

h1 {
  font-size: 6rem;
  line-height: 7rem;
  font-weight: 600;
  font-family: "epilogue";

  @include devices(mobile) {
    font-size: 9rem;
    line-height: 12rem;
  }
}

h2 {
  font-size: 3rem;
  line-height: 13rem;
  font-family: "epilogue";

  @include devices(mobile) {
    font-size: 6rem !important;
  }
}

p {
  @include devices(mobile) {
    font-size: 6rem !important;
    line-height: 9rem !important;
  }
}