/* stylelint-disable font-family-name-quotes */
@font-face {
  font-family: 'quicksand';
  font-style: normal;
  font-weight: 300;
  src: url('../../public/assets/fonts/Quicksand-Regular.ttf') format('truetype'),;
}

@font-face {
  font-family: 'quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/assets/fonts/Quicksand-Medium.ttf') format('truetype'),;
}

@font-face {
  font-family: 'quicksand';
  font-style: normal;
  font-weight: 500;
  src: url('../../public/assets/fonts/Quicksand-SemiBold.ttf') format('truetype'),;
}

@font-face {
  font-family: 'quicksand';
  font-style: normal;
  font-weight: 600;
  src: url('../../public/assets/fonts/Quicksand-Bold.ttf') format('truetype'),;
}

@font-face {
  font-family: 'epilogue';
  font-style: normal;
  font-weight: 300;
  src: url('../../public/assets/fonts/Epilogue-Regular.ttf') format('truetype'),;
}

@font-face {
  font-family: 'epilogue';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/assets/fonts/Epilogue-Medium.ttf') format('truetype'),;
}

@font-face {
  font-family: 'epilogue';
  font-style: normal;
  font-weight: 500;
  src: url('../../public/assets/fonts/Epilogue-SemiBold.ttf') format('truetype'),;
}

@font-face {
  font-family: 'epilogue';
  font-style: normal;
  font-weight: 600;
  src: url('../../public/assets/fonts/Epilogue-Bold.ttf') format('truetype'),;
}
