/* stylelint-disable selector-no-qualifying-type */
.notify {
    height: 92rem;
    background: $blue;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 30rem;
    padding-left: 14rem;
    padding-bottom: 45rem;
    position: relative;
    overflow: hidden;

    h1 {
        width: 90rem;
        margin: 0 0 3rem;
    }

    p {
        font-size: $fs-body;
        width: 90rem;
        line-height: 1.5;
        margin: 0 0 5rem;
    }

    .btn {
        display: table;
        transform: translate3d(0, 0.5rem, 0);
    }

    &-newsletter {
        &-options {
            margin: 0 2rem;
            width: 30rem;
            background: $white;
            border-radius: 10px;
            border: solid 1px $black;
            position: relative;
        }

        &-option {
            position: absolute;
            width: 100%;
            font-size: 1.5rem;
            background: $white;
            border-radius: 10px;
            z-index: 1;

            &-current {
                height: 5rem;
                display: flex;
                align-items: center;
                font-weight: 600;
                padding-left: 2.5rem;
                cursor: pointer;
            }

            ul {
                padding: 5rem 0 1rem 2.5rem;
                margin: -1rem 0 0 -0.1rem;
                width: 30rem;
                border-left: solid 1px;
                border-right: solid 1px;
                border-bottom: solid 1px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                li {
                    margin: 0 0 1rem;
                    cursor: pointer;

                    &.active {
                        font-weight: 600;
                        padding-left: 1.5rem;
                        position: relative;

                        &::before {
                            content: "";
                            width: 1rem;
                            height: 1rem;
                            left: 0;
                            top: 0.25rem;
                            position: absolute;
                            background: $yellow;
                            border: solid 1px $black;
                            border-radius: 50%;
                        }
                    }

                    &:first-child {
                        color: $grey;
                        font-size: 1.2rem;
                    }
                }
            }
        }

        >span {
            font-weight: 600;
            font-size: 1.2rem;
            width: 50rem;
            display: inline-block;
            line-height: 1.4;
        }


        &-controls {
            margin: 0 0 3rem;
            display: flex;

            input {
                border-radius: 10px;
                border: solid 1px;
                width: 24.5rem;
                padding: 0.5rem 0 0;

                &::placeholder {
                    font-size: 1.5rem;
                    padding-left: 2rem;
                }
            }
        }
    }

    &-hand-up,
    &-heart {
        position: absolute;

        svg {
            width: 100%;
        }
    }

    &-hand-up {
        right: 5rem;
        bottom: -3rem;
        width: 40rem;
    }

    &-heart {
        right: 22rem;
        bottom: 37.5rem;
    }

    &-footer {
        background: $purple;
        height: 8rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 0;

        &-content {
            width: 51rem;
        }

        svg {
            width: 1rem;
            margin: 0 2rem;
        }
    }

    @include devices(mobile) {
        padding: 50rem 0 80rem 14rem;
        height: auto;


        &-hand-up {
            right: calc(50vw - 45rem);
            width: 90rem;
            bottom: -45rem;
        }

        h1 {
            margin: 0 0 10rem;
        }

        p {
            margin: 0 0 10rem;
            width: auto;
            padding-right: 10rem;
        }


        .btn {
            margin: 5rem 0 0;
            padding-left: 2rem;

            &-base {
                top: -0.2rem;
                z-index: 0;
                right: -0.3rem;
            }
        }

        &-newsletter {

            &-controls {
                margin: 0 0 10rem;
                display: block;

                input {
                    display: inline-block;
                    width: 45rem;
                    height: 12.5rem;
                    padding: 1rem 0 0;

                    &::placeholder {
                        font-size: 3rem;
                        padding-left: 2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

            &-option {
                &-current {
                    height: 11rem;
                    font-size: 3rem;
                }

                ul {
                    margin: -2rem 0 0 -0.4rem;

                    li {
                        &:first-child {
                            font-size: 3rem;
                        }

                        margin: 0 0 3rem;
                        font-size: 3.5rem;
                    }
                }
            }

            &-options {
                display: inline-block;
                height: 12.5rem;
                margin: 0 2rem -4rem;
            }

            >span {
                font-size: 3.6rem;
                width: 110rem;
            }
        }
    }

    &-footer {
        font-size: 15px;
    }
}